:root {
  --primary-text: #545658;
  --primary-color: #272a32;
  --secondary-color: #ec5242;
  --neutral-color: #d3d3d3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: var(--primary-text);
}

main {
  
}

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.8;
}

button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

.header {
  padding: 20px;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.25;
  background-image: url(../images/h-bg.jpg);
}

.nav-bar {

}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hamburger-menu .bar {
  height: 4px;
  width: 36px;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--primary-color);
}

.hero {
  padding: 3.3rem 0 2rem 0;
}

.hero-title {
  line-height: 1;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.hero-title .big {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url(../images/hero-title-bg.png);
}

.message {
  padding: 0.8rem 1rem;
  margin: 2rem 0;
  border: 6px solid #ffffffb8;
  background-color: #ffffff9b;
}

.date-address {
  font-size: 1.2rem;
}

.date-address .date {
  font-size: 1.7rem;
  font-weight: 900;
}

.section {
  padding: 3rem 1rem;
}

.main-program {
  color: #fff;
  background: var(--primary-color);
}

.section-title {
  text-align: center;
}

.section-title .separator {
  display: block;
  margin: 1.25rem auto;
  height: 2px;
  width: 70px;
  background: var(--secondary-color);
}
