:root {
  --primary-color: #272a32;
  --secondary-color: #ec5242;
  --neutral-color: #d3d3d3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
}

main {
  
}

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.8;
}

button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

.header {
  padding: 20px;
}

.hero {
  padding: 2rem 0;
}

.hero-title {
  line-height: 1;
  font-size: 1.7rem;
  color: var(--secondary-color);
}

.hero-title .big {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url(../images/hero-title-bg.png);
}

.nav-bar {

}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hamburger-menu .bar {
  height: 4px;
  width: 36px;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--primary-color);
}
